@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

$seme-color:#565387;
$white-color:#ffffff;
$sen-color:#f2f2f2;
$hov-color:#3c3a69;
$my-bg:#ececec;





body{
  font-family: "Rubik", sans-serif !important;
}
.my-bg{
  background-color: $my-bg;
}
.logo-header img{
  width: 150px;
}
body .navbar-nav .nav-link{
  transition: 0.5s !important;
}
body .navbar-nav .nav-link.active ,body .navbar-nav .nav-link:hover{
  color: #565387;
  border-bottom: 1px solid #565387;
}
.brand-name{
  color: #565387;
}
.get-started{
  border: 1px solid #565387;
  border-radius: 30px;
  padding: 10px 40px;
  transition: 0.5s;
  background-color: $sen-color;
  color: $seme-color;
  text-decoration: none;
  display: inline-block;
}
.get-started:hover{
  background-color:  $seme-color;
  color: $white-color;
}
.btn-cat-des{
  border: 1px solid #565387;
  border-radius: 6px;
  transition: 0.5s;
  background-color: $sen-color;
  color: $seme-color;
  text-decoration: none;
  text-align: center;
  padding: 6px 10px;
}
.btn-cat-des:hover{
  background-color:  $seme-color;
  color: $white-color;
}
.btn-submit{
  border: 1px solid #565387;
  border-radius: 10px;
  width: 100%;
  transition: 0.5s;
  background-color: $sen-color;
  color: $seme-color;
  text-decoration: none;
  text-align: center;
  padding: 6px 10px;
}
.btn-submit:hover{
  background-color:  $seme-color;
  color: $white-color;
}
body .navbar-toggler:focus{
  box-shadow: none;
}
body .form-control:focus{
  border-color: #565387;
  box-shadow: 0 0 0 .25rem #56538743;
}
.user-img-menu-top{
  height: 35px;
  width: 35px;
  border-radius: 100%;
}
.user-propil-img img{
  width: 60px;
  height: 60px;
}
.btn-hed-lis {
  border-radius: 6px;
  padding: 10px 30px;
  border: 0px;
  color: $white-color;
  background-color: $seme-color;
  transition: 0.5s;
}
.btn-hed-lis:hover {
  background-color: $hov-color;
}
@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Move up by 20px */
  }
  100% {
    transform: translateY(0); /* Move back to the original position */
  }
}

.animated-image {
  animation: moveUpDown 2s ease-in-out infinite; /* Change the duration (2s) as needed */
}

@media(max-width:1199.98px){

}
@media(max-width:991.98px){
  body .navbar-nav .nav-link{
    text-align: center;
  }
  .get-started{
    padding: 6px 30px;
  }
  .card-title{
    font-size: 18px;
  }
  .btn-hed-lis {
    width: 100%;
  }
  .user-img-menu-top{
    height: 44px;
    width: 44px;
    border-radius: 6px;
  }
}
@media(max-width:767.98px){
  .card-title{
    font-size: 16px;
  }
}
@media(max-width:350.98px){

}